<html>
<head>
  <link rel = "stylesheet"  href = "/stylesheets/form_style.css" type = "text/css">
</head>
<body>
<div class = 'form-box'>
  <form action = '/questions' method = "post">
    <label for = "content" style = "color: red;">Question title:</label>
    <input type = "text" name = "question[content]" id = "content" /><br><br>
    <label for = "answer_1">First answer:</label>
    <input type = "text" name = "answers[][content]"  id = "answer_1"/><br><br>
    <label for = "answer_2">Second answer:</label>
    <input type = "text" name = "answers[][content]" id = "answer_2"/><br><br>
    <label for = "answer_3">Third answer:</label>
    <input type = "text" name = "answers[][content]" id = "answer_3"/><br><br>
    <label for = "answer_4">Fourth answer:</label>
    <input type = "text" name = "answers[][content]" id = "answer_4"/><br><br>
    <input type = 'hidden' name = "exam_id" value = "<%= @exam.id %>">
    <button type = "submit" >Save question</button>
  </form >
<div> <!-- end of the form box-->
</body>
</html>
