<html>
<head>
  <link rel = "stylesheet"  href = "/stylesheets/form_style.css" type = "text/css">
</head>
<body>
<div class = 'form-box'>
  <form action = '/exams' method = "post">
    <label for = "content" style = "color: red;">Question title:</label>
    <input type = "text" name = "question[content]" id = "content" /><br><br>
    <label for = "content">First answer:</label>
    <input type = "text" name = "question[answer]"  id = "answer_1"/><br><br>
    <label for = "content">Second answer:</label>
    <input type = "text" name = "question[answer]" id = "answer_2"/><br><br>
    <label for = "content">Third answer:</label>
    <input type = "text" name = "question[answer]" id = "answer_3"/><br><br>
    <label for = "content">Fourth answer:</label>
    <input type = "text" name = "question[answer]" id = "answer_4"/><br><br>
    <button type = "submit" >Save question</button>
  </form >
<div> <!-- end of the form box-->
</body>
</html>
