<html>
<head>
  <link rel = "stylesheet"  href = "/stylesheets/form_style.css" type = "text/css">
</head>
<body>
<div class = 'form-box'>
  <form action = '/exams' method = "post">
    <label for = "exam_title" style = "color: red;">Exam title:</label>
    <input type = "text" name = "exam[name]" id = "exam title"><br><br>
    <button type = 'submit'>Create Exam</button>

  </form >
<div> <!-- end of the form box-->
</body>
</html>
